---
name: Release

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  release:
    if: github.event.pull_request.merged == true
    name: Release
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v2
      - run: |
          git fetch --prune --unshallow
      - name: Install dependencies
        run: |
          npm ci
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          export VERSION=$(npx next-standard-version)
          export DESCRIPTION=$(npx standard-version --dry-run --silent | grep -v yarn | grep -v Done | grep -v "\-\-\-" | grep -v standard-version)
          echo "DESCRIPTION<<EOF" >> $GITHUB_ENV
          echo "$DESCRIPTION" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV 
          make release
          git add Sticky.xcodeproj/project.pbxproj
          git commit --no-verify -m "chore(release): ${VERSION}"
          npx standard-version
          git tag -d v$VERSION
          git reset --soft HEAD~~ && git commit --no-verify --no-edit -m "chore(release): ${VERSION}"
          git tag v$VERSION     
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tags: true
      - name: Create Github Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ env.VERSION }}
          release_name: Release v${{ env.VERSION }}
          body: |
            ${{ env.DESCRIPTION }}
          draft: false
          prerelease: false
